header {
  display: inline-grid;
  background-color: #2196F3;
  grid-template-columns: 100px 200px 300px;
  grid-template-rows: 100px 200px;
  padding: 20px;
  margin: auto;
 }
div {
  background-color: red;
  border: 2px solid green;
}