body {
  width: 100%;
  margin:auto;
  font-family: Verdana;
}
#header {
  font-family: sans-serif;
  color: white;
  background-color:#663398;
  width: 1170px;
  height: 77px;
  padding-left: 370px;
  padding-top: 30px;
  font-size: 40px;
}
#products {
  margin-left: 370px;
  margin-top: 25px;
  font-size: 25px;
}
#sony {
  width: 800px;
  height: 645px;
  margin-left:370px;
  margin-top: 15px;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  box-shadow: 
}