code {
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  padding: 24px 15px;
  text-align: center;
  display: flex;
  }
header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
  text-align: center;
}
section {
  width: 30%;
  display: inline-block;
  text-align: center;
}
footer {
  margin-bottom: 0;
}
