html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    box-sizing: inherit;
}
body {
    font-family: "roboto", sans-serif;
    width: 100%;
    box-sizing: inherit;
    box-sizing: border-box;
}
header {
    background-color: black;
    width: 100%;
    height: 75px;
    margin-top: -17px;
    margin-left:-10px;
    position:sticky;
    top: 0;
}
ul {
    position: sticky;
    top: 60px;
    list-style: none;
    display:flex;
    text-align: justify;
    justify-content:space-around;
}
.item {
    text-decoration: none;
    font-family: "roboto", sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 200;
}
#logo {
    width: 880px;
    margin-left: -35px;
    text-decoration: none;
    font-family: "roboto", sans-serif;
    color: white;
    font-size: 20px;
}
#log {
    width: 930px;
}
.b1 {
    height: 45px;
    width: 82px;
    background-color: #0080ff;
    border: 1px solid royalblue;
}
.b2 {
    height: 45px;
    width: 95px;
    background-color: black;
    border: 1px solid #0080ff
}
button {
    height: 48px;
    border: none;
    background-color: black;
}
.about {
    position: static;
    text-align: center;
    background-color: #FFFFFF;
    background-image: linear-gradient( 180deg, #FFFFFF 0%, #6284FF 50%, #FF0000 100% );
    width: 100%;
    height: 725px;
    margin-left:-10px;
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    line-height: 25px;
}
h1 {
    padding-top: 280px;
    font-size: 60px;
    color: white;
}
em {
    font-size: 30px;
    color: black;
}
.project {
    color: white;
    background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
    height: 1190px;
    width: 100%;
    margin-left:-10px;
    margin-top: -35px;
    justify-content: center;
    text-align: center;
    line-height: 0px;
}
h2 {
    padding-top: 125px;
    font-size: 42px;
}
hr {
    width: 640px;
}
.samples {
    margin-top: 63px;
    display: inline-grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 360px 360px;
    grid-column-gap: 40px;
    grid-row-gap: 43px;
}
img {
    width: 400px;
    height: 295px;
}
p {
    text-decoration: none;
    color: white;
}
.sample {
    background-color: black;
    width: 400px;
    height: 360px;
    border-radius: 0 0 10px 10px;
    border-width: 20px;
}
a {
    text-decoration: none;
    font-size: 20px;
}
p {
    position: relative;
    top: 12px;
    
}
.sample:hover span {
    color: #c54720;
}