body {
  background-color: #FFF;
  margin: 0 auto;
}
header {
  position: fixed;
  width: 100%;
  background-color: #466995;
  height: 40px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 50px;
  color: white;
  margin-top: 10px;
  font-size: 16px;
  font-family: "Oswald", sans-serif;
}
.welcome {
  color: #466995;
  font-size: 15px;
  position: flex;
  background-color:#DBE9EE;
  padding-top: 80px;
  text-align: center;
  height: 138px;
  width: 100%;
  font-family: "Oswald", sans-serif;
}
