body {
  width: 100%;
  margin:auto;
  font-family: Verdana;
}
#header {
  font-family: sans-serif;
  color: white;
  background-color:#663398;
  width: 100%;
  height: 70px;
  padding-left: 300px;
  padding-top: 18px;
  font-size: 31px;
}
#products {
  margin-left: 300px;
  margin-top: 25px;
  font-size: 20px;
}