.header {
  width: 100%;
  height: 100px;
  background-color: #808080;
  border: 1px solid black;
}
#chania {
  position: relative;
  top: 10px;
  left: 20px;
}
ul {
  float: left;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content {
  float: none;
  margin-left: 200px;
  margin-top: 40px;
}
li {
  background-color: #33b5e6;
  height: 30px;
  width: 100px;
}