body {
  width: 100%;
  margin:auto;
  font-family: sans-serif;
  }
#header {
  font-family: sans-serif;
  color: white;
  background-color:#663398;
  width: 1170px;
  height: 77px;
  padding-left: 370px;
  padding-top: 30px;
  font-size: 40px;
}
#products {
  margin-left: 370px;
  margin-top: 25px;
  font-size: 28px;
}
#sony {
  width: 800px;
  height: 645px;
  margin-left:370px;
  margin-top: 10px;
  border: 1px solid #c9c9c9;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 15%);
}
#img {
  width: 760px;
  height: 430px;
  margin:20px 20px 0px 20px;
  border-radius: 8px 8px 0px 0px;
}
.headphone {
  margin-left: 20px;
  color: rebeccapurple;
  font-size: 17px;
}
#price {
  display: inline-block;
  background-color: #eddbff;
  border-radius: 4px;
  width: 110px;
  height: 27px;
  padding-top: 5px;
  padding-left: 5px;
}