#div_1 {
  background-color: #ffe4e1;
  padding-left: 30px;
  padding-top: 20px;
  width: 250px;
  height: 45px;
  font-size: 20px;
  color: #7b0000;
  border-left: 0px;
  border-right: 0px;
  border-style: double;
}