body {
  width: 500px;
  margin: auto;
  font-family: Verdana;
}
#div_1 {
  margin-top: 10px;
  background-color: #ffe4e1;
  padding-left: 25px;
  padding-top: 20px;
  width: 450px;
  height: 55px;
  font-size: 25px;
  color: #7b0000;
  border-left: 0px;
  border-right: 0px;
  border-style: double;
}
.div_2 {
  margin-left: 20px;
  width: 370px;
  height: 160px;
  background-color: #e5e6fa;
  border: 2px solid #0001fd
}
